.home-image{
    display: block;
    width: 100% !important;
    height: auto !important;
}
.table {
    table-layout: fixed;
    overflow: auto;
}
.table th{
    text-align: center;
}

.login-box{
    text-align: center;
}
.login-container{
    width: 40%;
    margin: auto;
    margin-top: 100px;
}

.login-box {
    text-after: center;
}

.login-container {
    width: 40%;
    margin: auto;
    margin-left: 100px;
}